@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html{
    font-size: 16px;
    color: #000000;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: 'roboto', Arial, Helvetica, sans-serif;

}
.c-hero {
    width: 100%;
    min-height: 10rem;
    background-image: url('../images/placeholder_hero.png');
    background-size: cover;
}

.c-hero__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.c-hero__slogan-area {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-hero__slogan {
    font-size: 3rem;
}

.c-hero__avatar-area {
    grid-column: auto / span 1;
    grid-row: 1;
    max-width: 100%;
    padding: 1rem 2rem;
}
.c-hero__avatar {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .c-hero__slogan-area {
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .c-hero__avatar-area {
        display: none;
        grid-column: unset;
        grid-row: unset;
    }
}

.c-about-me {
    width: 100%;
    min-height: 10rem;

}
.c-about-me__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.c-about-me__img-area {
    grid-column: 1 / span 1;
    grid-row: 1;

}
.c-about-me__content {
    grid-column: 2 / span 2;
    grid-row: 1;
}
.c-about-me__content--header {
    font-size: 2rem;
}


.c-portfolio {
    width: 100%;
    min-height: 10rem;
}
.c-gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
.c-gallery-card {
    border-radius: 1.5rem;
    color: #fff;
    overflow: hidden;
}
.c-gallery-card--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
}
.c-gallery-card--body {
    background-color: #2c2c2c;
}
.c-gallery {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
}
.c-gallery--title {
    margin: 0;
    padding: 1rem 2rem 0 2rem;
    font-size: 1.5rem;
    color: #347f34; 
    font-family: Montserrat;
}
.c-gallery--sub-title {
    padding: 0 2rem;
    font-size: 1rem;
    opacity: 0.6;
    color: #347f34;
    font-family: Montserrat;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.c-gallery-card--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #363636;
    padding: 1rem;
}
.c-gallery-card--section--icon {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    outline: 10px double rgba(230, 18, 106, 0.1);
    outline-offset: 2px;
    font-size: 1rem;
    border-radius: 50%;
    background: linear-gradient(#f9566a, #e6126a);
}
.c-gallery-card--section__heading {
    margin: 0;
    font-size: 1rem;
}
.c-gallery__img {
    grid-row: auto/span 1;
    grid-column: auto/span 1;
    overflow: hidden; 
}
.c-gallery__img:first-child {
    grid-row: auto/span 2;
    grid-column: auto/span 2;
}
.c-gallery__img:nth-child(2) {
    grid-column: auto/span 2;
}

.c-gallery__img:hover {
    cursor: pointer;
    box-shadow: #000000;
    opacity: 0.7;
}

.c-gallery__img img {
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .c-gallery {
        margin-top: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        row-gap: 0.5rem;
    }
}

.nav-pills .nav-link.active {
    color: #347f34;
    background-color: transparent;
    border-bottom: 4px solid #347f34;
    border-radius: 0;
}
a.nav-link {
    font-size: 1.5rem;
    color: #000000;
}
a.nav-link:hover {
    color: #347f348b;
    border-bottom: 4px solid #347f348b;
    border-radius: 0;
}